@keyframes grow {
  from {
    transform: scale(100%)
  } to {
    transform: scale(120%);
  }
}

#transition-container {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-family: Arial, sans-serif;
}

button {
  transition: transform 1s, background-color 1s;
  border-radius: 8px;
  border: none;
  background-color: #2563eb;
  color: white;
  font-size: 18px;
  padding: 16px 24px;
  text-align: center;
}

button:hover {
  transform: scale(120%);
  background-color: #5685eb
}