* {
  margin: 0;
  padding: 0;
}

body {
  height: 100vh;
  width: 100vw;
}

.logo {
  text-align: left;
}

.container {
  text-align: center;
  width: 100% -30px;
  height: 100%;
  display: grid;
  align-content: space-between;
  grid-template-rows: 2fr 16fr 1fr;
}

.container div {
  font-size: 32px;
  font-family: Helvetica;
  font-weight: bold;
  color: white;
}

.header {
  background-color: #393f4d;
  width: 100% -15px;
  display: grid;
  grid-template-columns: 25% auto;
  grid-template-rows: auto;
  margin-bottom: 5px;
  grid-row: 1;
  align-content: center;
  padding: 0px 15px;
}

.menu {
    align-content: center;
}

.menu ul,
.menu li {
  font-size: 16px;
  list-style: none;
  text-align: right;
}

.menu ul {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
}

.content {
  grid-row: 2;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  margin-bottom: 5px;
  gap: 5px;
  overflow: hidden;
}

.sidebar {
  background-color: #C50208;
  display: grid;
  grid-template-columns: auto;
  gap: 15px;
  padding: 15px;
}

.sidebar .photo {
  background-color: white;
  color: black;
  font-size: 12px;
  font-weight: normal;
  border-radius: 10px;
  display: grid;
  align-content: center;
}


.sidebar .side-content {
  background-color: white;
  color: black;
  font-size: 16px;
  font-weight: normal;
  display: grid;
  align-content: center;  
}

.main {
  grid-column: 2/5;
}

.nav {
  background-color: #C50208;
  margin-bottom: 5px;
  padding: 10px;
}

.nav ul {
  display: grid;
  grid-template-columns: repeat(3, 1fr);

}

.nav ul li {
  font-size: 16px;
  text-transform: uppercase;
  list-style: none;
}

.article {
  background-color: #bccbde;
  display: grid;
  height: 90%;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  grid-template-rows: repeat(auto-fit, minmax(150px, 1fr));
  gap: 15px;
  padding: 15px;
}

.article p {
  font-size: 18px;
  font-family: sans-serif;
  color: white;
  text-align: left;
}

.article .card {
  background-color: #FFFFFF;
  color: black;
  text-align: center;
  padding: 15px;
  display: grid;
  justify-content: center;
}

.card p {
  color: black;
  font-weight: normal;
  font-size: 14px;
}

.card .title {
  font-size: 18px;
  text-align: center;
}

.footer {
  background-color: #393f4d;
  padding: 15px;
  grid-row: 3;
}

.footer p {
  font-size: 13px;
  font-weight: normal;
}