@keyframes bounceIn {
	0%, 20%, 50%, 80%, 100% {
    transform: scaleY(100%);
    opacity: 1;
  }
	40% {
    transform: scaleY(95%);
  }
	60% {
    transform: scaleY(98%);
  }
}

.dropdown-container {
  max-width: 250px;
  margin: 40px auto;
  text-align: center;
  line-height: 50px;
  font-size: 15px;
  color: rgb(247, 247, 247);
  cursor: pointer;
}

.menu-title {
  background-color: rgb(163, 162, 162);
}

.dropdown-menu {
  list-style: none;
  padding: 0;
  margin: 0;
  background-color: rgb(99, 97, 97);

  transform-origin: top;
  transform: scaleY(0%);
  transition: transform 1s;
}

ul.dropdown-menu li:hover {
  background: rgb(47, 46, 46);
}

.visible {
  transform: scaleY(100%);
  animation: 550ms bounceIn 1s
}


